.wrapper {
    text-align: center;
    padding: 70px;
    box-shadow: rgb(0 0 0 / 20%) 0 2px 1px -1px, rgb(0 0 0 / 14%) 0 1px 1px 0, rgb(0 0 0 / 12%) 0 1px 3px 0;
    width: fit-content;
    border-radius: 8px;
    margin: 25% auto 0;
}

.wrapper_dragging {
    box-shadow: rgb(0 0 0 / 20%) 0 11px 15px -7px, rgb(0 0 0 / 14%) 0 24px 38px 3px, rgb(0 0 0 / 12%) 0 9px 46px 8px;
}

.dragDiv {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fileInputLabel {
    font-size: 24px;
    color: rgb(0, 114, 229);;
    cursor: pointer;
    width: fit-content;
    display: block;
    margin: 30px auto 0;
}

.fileInput {
    display: none;
}
